{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <!-- Catalog with Albums-->
    <section id="catalogPage">
        <!--  If No albums in catalog -->
        {% if not all_album_objects %}
            <p>No Albums in Catalog!</p>
        <!-- If albums in catalog -->
        {% else %}
            <h1>All Albums</h1>
            <!-- Card-Box in catalog -->
            {% for album_object in all_album_objects %}
            <div class="card-box">
                <img src="{{ album_object.image_url }}" alt="Cover Image">
                <div>
                    <div class="text-center">
                        <p class="name">Name: {{ album_object.album_name }}</p>
                        <p class="artist">Artist: {{ album_object.artist }}</p>
                        <p class="genre">Genre: {{ album_object.genre }}</p>
                        <p class="price">Price: ${{ album_object.price|floatformat:2 }}</p>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'album details page' pk=album_object.pk %}">Details</a>
                    </div>
                </div>
            </div>
            <!-- End Card-Box in catalog -->
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}
