{% load static %}

{% load custom_tags %}

{% profile_status as profile_object %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>

    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>

    <title>Fruitipedia</title>
</head>

<body>
    <div id="wrapper">
        <!-- Including Template Snippets -->
        {% include 'partials/header.html' %}

        <!-- Template Inheritance -->
        {% block main_content %}
            <!-- <main>...</main> -->
        {% endblock %}

    </div>
    <!-- Including Template Snippets -->
    {% include 'partials/footer.html' %}
</body>

</html>
