{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <main>
        <!-- Profile Details Section -->
        <section id="details">
            <div id="details-wrapper">
                <h2>Profile Details</h2>
                {% if profile_object.image_url %}
                    <!-- if the user has a profile image -->
                    <img id="details-img" src="{{ profile_object.image_url }}" alt="profile img"/>
                {% else %}
                    <!-- if the user has NO profile image -->
                    <img id="details-img" src="{% static '/images/default.jpg' %}" alt="profile img"/>
                {% endif %}
                <!-- user's full name -->
                <p id="details-title">{{ profile_object.full_name }}</p>
                <div id="info-wrapper">
                    <div id="details-description">
                        <!-- email -->
                        <p>
                            {{ profile_object.email }}
                        </p>
                        <!-- age -->
                        <p>
                            Age: {{ profile_object.age }}
                        </p>
                        <!-- number of posts -->
                        <p id="nutrition">Posts: {{ profile_object.fruitmodel_set.count }}</p>
                    </div>
                    <!--Edit and Delete buttons -->
                    <div id="action-buttons">
                        <a href="{% url 'profile edit page' %}" id="edit-btn">Edit</a>
                        <a href="{% url 'profile delete page' %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
