<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'document' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ document_form.as_p }}

        <button type="submit">Enter</button>
    </form>

    <div>
        <h3>Document objects:</h3>

        {% for document_object in all_document_objects %}
            <p>Document ID: {{ document_object.pk }}</p>
        {% endfor %}
    </div>
</body>

</html>
