{% extends 'shared/../base.html' %}

{% block main_content %}
    <!-- The Main Content for the Edit Event section -->
    <section id="edit">

        <div class="form">
            <!-- Title of the Page -->
            <h2>Edit Event</h2>

            <!-- Edit Event Form -->
            <form class="edit-form" method="POST">
                {% csrf_token %}
                {{ model_form }}

                <!-- Edit Button -->
                <input class="btn" type="submit" value="Edit">

            </form>
            <!-- End Edit Event Form -->
        </div>

    </section>
    <!-- End Edit Event section -->
{% endblock %}
