{% extends 'base.html' %}

{% block main_content %}
    <!-- The Main Content for the Create Event section -->
    <section id="create">

        <div class="form">
            <!-- Title of the Page -->
            <h2>Create Event</h2>

            <!-- Create Event Form -->
            <form class="create-form" method="POST">
                {% csrf_token %}
                {{ model_form }}

                <!-- Create Button -->
                <input class="btn" type="submit" value="Create">

            </form>
            <!-- End Create Event Form -->
        </div>

    </section>
    <!-- End Create Event section -->
{% endblock %}
